<% content_for :title do %>
  <%= category %>
<% end %>

<div class="breadcrumb">
  <h3 class="breadcrumb__category">
    <%= category %>
  </h3>
    <span class="delimiter">
      /
    </span>
</div>

<div class="category-header" id="<%= category %>">
  <div class="category-image">
    <%= image_tag "categories/#{category}.png" %>
  </div>

</div>

<% articles.each do |article| %>
  <article class="category__post_article">
    <h3 class="category__post_title">
        <%= link_to article.title, article.url %>
    </h3>
    <div class="category__post_metadata">
      <span class="category__post_tags small">
        tags: [<%= article.tags.join(', ')%>]
      </span>

      <span class="category__post_author small">
          author: <%= article.metadata[:page]['author']  %>
      </span>
    </div>
  </article>

<% end %>
