<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv='X-UA-Compatible' content='IE=edge;chrome=1' />
    <title>Blog Title<%= ' - ' + current_article.title unless current_article.nil? %></title>
    <%# feed_tag :atom, "#{blog.options.prefix.to_s}/feed.xml", title: "Atom Feed" %>
    <%= stylesheet_link_tag "all" %>
  </head>
  <body>
    <div class="wrapper">

      <div id="main" role="main">
        <%= yield %>
      </div>


      <aside id="sidebar">
        <div class="aside__inner">
          <h2 class="header__logo">
            <a href="/">Exsisto</a>
          </h2>

          <div class="menu-tags">
            <% categories.each do |category| %>
                <h4><%= link_to "#{category}", category_path(category) %></h4>
            <% end %>
          </div>
        </div>
      </aside>


        <!--<div class="main-menu">-->
            <!--<a href="#works">works | </a>-->
            <!--<a href="#about_us">about_us | </a>-->
        <!--</div>-->

    </div>
  </body>
<%= javascript_include_tag %>
</html>
